<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<title>郵便番号から住所を検索するapi</title>
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<div id="watchtest">
  <p>
    郵便番号を入力:
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>
<div id="app">
  <div>
    <button type="button" v-on:click="addTodo">保存</button>
  </div>
  <ul>
    <li v-for="(todo, index) in todos">
      <todo-item v-bind:todo="todo" v-on:remove="todos.splice(index, 1)"></todo-item>
    </li>
  </ul>
</div>
</body>
<script src="test.js"></script>
</html>
